.ItemDetails {
    display: flex;
    /* margin-top: 1rem; */
    flex-direction: row;
    padding: 1rem;
}

.ItemDetails .person-image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.ItemDetails .list-group-item {
    padding: .25rem;
}

.ItemDetails .list-group-item .term{
    margin-right: .5rem;
}

@media (max-width: 575.98px) {
    .ItemDetails{
        flex-direction: column;
    }
    .ItemDetails h4{
        margin-top: .5rem;
    }
    .ItemDetails .card-body{
        padding-left: 0;
    }
}