.RandomPlanet {
    display: flex;
    padding: 1rem;
    margin-bottom: 15px;
}

.RandomPlanet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}

.RandomPlanet .list-group {
    margin: 1rem 0 0 1rem;
}

.RandomPlanet .list-group-item {
    padding: .25rem;
}

.RandomPlanet .list-group-item .term {
    margin-right: .5rem;
}

@media (max-width: 575.98px) {
    .RandomPlanet{
        flex-direction: column;
    }
    .RandomPlanet h4{
        margin-top: 1.5rem;
    }
    .RandomPlanet .list-group{
        margin-left: 0;
    }
}