.Header {
    margin-top: .5rem;
    padding-left: 10px;
}

.Header ul{
    flex-wrap: wrap;
}
.Header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.Header ul li:hover {
    background-color: #444;
}

.Header a:hover {
    text-decoration: none;
}

.Header h3 a {
    color: white;
}

.Header h3 a:hover {
    color: #00bc8c;
}