.AppHeader {
    align-items: center;
}

.AppHeader h1 {
    flex-grow: 1;
}

.AppHeader h2 {
    font-size: 1.2rem;
    color: grey;
}

@media (max-width: 767.98px) {
    .my-d-flex{
        flex-direction: column;
        align-items: flex-start;
    }
}